package provider

import (
	"context"
	"fmt"

	"github.com/hashicorp/terraform-plugin-framework/datasource"
	"github.com/hashicorp/terraform-plugin-framework/datasource/schema"
	"github.com/hashicorp/terraform-plugin-framework/types"{extra_imports}
	
	"github.com/bmanojlovic/terraform-provider-truenas/internal/client"
)

var _ datasource.DataSource = &{resource_name}DataSource{{}}

func New{resource_name}DataSource() datasource.DataSource {{
	return &{resource_name}DataSource{{}}
}}

type {resource_name}DataSource struct {{
	client *client.Client
}}

type {resource_name}DataSourceModel struct {{
{fields}
}}

func (d *{resource_name}DataSource) Metadata(ctx context.Context, req datasource.MetadataRequest, resp *datasource.MetadataResponse) {{
	resp.TypeName = req.ProviderTypeName + "_{name}"
}}

func (d *{resource_name}DataSource) Schema(ctx context.Context, req datasource.SchemaRequest, resp *datasource.SchemaResponse) {{
	resp.Schema = schema.Schema{{
		Description: "{description}",
		Attributes: map[string]schema.Attribute{{
{schema_attrs}
		}},
	}}
}}

func (d *{resource_name}DataSource) Configure(ctx context.Context, req datasource.ConfigureRequest, resp *datasource.ConfigureResponse) {{
	if req.ProviderData == nil {{
		return
	}}
	client, ok := req.ProviderData.(*client.Client)
	if !ok {{
		resp.Diagnostics.AddError("Unexpected Data Source Configure Type", fmt.Sprintf("Expected *client.Client, got: %T", req.ProviderData))
		return
	}}
	d.client = client
}}

func (d *{resource_name}DataSource) Read(ctx context.Context, req datasource.ReadRequest, resp *datasource.ReadResponse) {{
	var data {resource_name}DataSourceModel
	resp.Diagnostics.Append(req.Config.Get(ctx, &data)...)
	if resp.Diagnostics.HasError() {{
		return
	}}

	result, err := d.client.Call("{api_name}.get_instance", {id_param})
	if err != nil {{
		resp.Diagnostics.AddError("API Error", fmt.Sprintf("Failed to read {name}: %s", err.Error()))
		return
	}}

{read_mapping}

	resp.Diagnostics.Append(resp.State.Set(ctx, &data)...)
}}
