package provider

import (
	"context"
	"fmt"
	"strings"
{extra_imports}
	"github.com/bmanojlovic/terraform-provider-truenas/internal/client"
	"github.com/hashicorp/terraform-plugin-framework/path"
	"github.com/hashicorp/terraform-plugin-framework/resource"
	"github.com/hashicorp/terraform-plugin-framework/resource/schema"
	"github.com/hashicorp/terraform-plugin-framework/types"
)

type {resource_name}Resource struct {{
	client *client.Client
}}

type {resource_name}ResourceModel struct {{
{fields}
}}

func New{resource_name}Resource() resource.Resource {{
	return &{resource_name}Resource{{}}
}}

func (r *{resource_name}Resource) Metadata(ctx context.Context, req resource.MetadataRequest, resp *resource.MetadataResponse) {{
	resp.TypeName = req.ProviderTypeName + "_{name}"
}}

func (r *{resource_name}Resource) ImportState(ctx context.Context, req resource.ImportStateRequest, resp *resource.ImportStateResponse) {{
	resource.ImportStatePassthroughID(ctx, path.Root("id"), req, resp)
}}

func (r *{resource_name}Resource) Schema(ctx context.Context, req resource.SchemaRequest, resp *resource.SchemaResponse) {{
	resp.Schema = schema.Schema{{
		MarkdownDescription: "{description}",
		Attributes: map[string]schema.Attribute{{
{schema_attrs}
		}},
	}}
}}

func (r *{resource_name}Resource) Configure(ctx context.Context, req resource.ConfigureRequest, resp *resource.ConfigureResponse) {{
	if req.ProviderData == nil {{
		return
	}}
	client, ok := req.ProviderData.(*client.Client)
	if !ok {{
		resp.Diagnostics.AddError("Unexpected Resource Configure Type", "Expected *client.Client")
		return
	}}
	r.client = client
}}

func (r *{resource_name}Resource) Create(ctx context.Context, req resource.CreateRequest, resp *resource.CreateResponse) {{
	var data {resource_name}ResourceModel
	resp.Diagnostics.Append(req.Plan.Get(ctx, &data)...)
	if resp.Diagnostics.HasError() {{
		return
	}}

	params := map[string]interface{{}}{{}}
{create_params}

	result, err := r.client.{create_call}("{api_name}.create", params)
	if err != nil {{
		resp.Diagnostics.AddError("Create Error", fmt.Sprintf("Unable to create {name}: %s", err))
		return
	}}

	// Extract ID from result
	if resultMap, ok := result.(map[string]interface{{}}); ok {{
		if id, exists := resultMap["id"]; exists && id != nil {{
			data.ID = types.StringValue(fmt.Sprintf("%v", id))
		}}
	}}

	// Validate ID was set
	if data.ID.IsNull() || data.ID.ValueString() == "" {{
		resp.Diagnostics.AddError("Create Error", "API did not return a valid ID")
		return
	}}
{lifecycle_code}
	resp.Diagnostics.Append(resp.State.Set(ctx, &data)...)
}}

func (r *{resource_name}Resource) Read(ctx context.Context, req resource.ReadRequest, resp *resource.ReadResponse) {{
	var data {resource_name}ResourceModel
	resp.Diagnostics.Append(req.State.Get(ctx, &data)...)
	if resp.Diagnostics.HasError() {{
		return
	}}

	var id interface{{}}
	var err error
{id_read_code}

	result, err := r.client.Call("{api_name}.get_instance", id)
	if err != nil {{
		// Check if resource was deleted outside Terraform (ENOENT = entity not found)
		if strings.Contains(err.Error(), "[ENOENT]") {{
			resp.State.RemoveResource(ctx)
			return
		}}
		resp.Diagnostics.AddError("Read Error", fmt.Sprintf("Unable to read {name}: %s", err))
		return
	}}

	// Map result back to state
{read_mapping}

	resp.Diagnostics.Append(resp.State.Set(ctx, &data)...)
}}

func (r *{resource_name}Resource) Update(ctx context.Context, req resource.UpdateRequest, resp *resource.UpdateResponse) {{
	var data {resource_name}ResourceModel
	resp.Diagnostics.Append(req.Plan.Get(ctx, &data)...)
	if resp.Diagnostics.HasError() {{
		return
	}}

	var state {resource_name}ResourceModel
	resp.Diagnostics.Append(req.State.Get(ctx, &state)...)
	if resp.Diagnostics.HasError() {{
		return
	}}

	var id interface{{}}
	var err error
{id_update_code}

	params := map[string]interface{{}}{{}}
{update_params}

	_, err = r.client.{update_call}("{api_name}.update", []interface{{}}{{id, params}})
	if err != nil {{
		resp.Diagnostics.AddError("Update Error", fmt.Sprintf("Unable to update {name}: %s", err))
		return
	}}

	data.ID = state.ID
	resp.Diagnostics.Append(resp.State.Set(ctx, &data)...)
}}

func (r *{resource_name}Resource) Delete(ctx context.Context, req resource.DeleteRequest, resp *resource.DeleteResponse) {{
	var data {resource_name}ResourceModel
	resp.Diagnostics.Append(req.State.Get(ctx, &data)...)
	if resp.Diagnostics.HasError() {{
		return
	}}

	var id interface{{}}
	var err error
{id_delete_code}
{predelete_code}
	_, err = r.client.{delete_call}("{api_name}.delete", id)
	if err != nil {{
		resp.Diagnostics.AddError("Delete Error", fmt.Sprintf("Unable to delete {name}: %s", err))
		return
	}}
}}
