name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        go-version: ['1.25.x']

    steps:
      - uses: actions/checkout@v6
      
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      
      - run: go mod download
      
      - run: go build -v .
      
      - name: Run linting
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
      
      - name: Run unit tests
        run: go test -v -cover -coverprofile=coverage.out ./internal/...
        timeout-minutes: 10
      
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage.out
          fail_ci_if_error: false
